h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", cursive;
}

.site {
  min-height: 100vh;
  /*Pour le footer*/
  margin-bottom: -140px;
}

.bandeauColor {
  background-color: rgb(175, 189, 119);
}

.headerColor {
  background-color: rgb(163, 148, 105);
}

.footerColor,
.minSite {
  height: 140px;
  background-color: rgb(125, 111, 74);
}

.imgFooter {
  height: 40px;
}

.buttonNavBar{
  background-color: rgb(240, 228, 201);
}

